<header role="banner" class="jumbotron well text-center background-contrast">
  <h1>Accessibility and async data</h1>
</header>
<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
<footer role="contentinfo" class="jumbotron well text-center background-contrast">
  <ul>
    <li>
      <a href="http://angular.io">Test1</a>
    </li>
    <li>
      <a href="http://angular.io">Test1</a>
    </li>
    <li>
      <a href="http://angular.io">Test1</a>
    </li>
  </ul>
</footer>
